.integration-section{
    height: 88rem;
   
}
.integration-section-wrap{
    padding: 8rem 11rem;
   /* height: 88rem; */
}
.integration-header{
    margin-top: 4rem;
}

.integration-para{
    margin-top: 3rem;
    color: white;
    font-size: 2rem;
    margin-top: 6rem;
}
.integration-logo{
    /* position: absolute; */
    background-color: #ECEFEF;
    width: 98.563;
    height: 52.875rem;
    margin-top: 3rem;
    border: 1px solid rgb(242, 239, 239);
}
.integration-logo-wrap{
    padding: 1rem;
    
}
.logo{
    display: flex;
    justify-content: center;
  
   
}
.logo>img{
    width: 19rem;
    height: 10rem;
    margin: 1rem 3rem;
}
/* .commerce-section{
    position: absolute;
} */

.commerce-section-wrap{
    padding: 8rem 11rem;
    margin-top: 25rem;
}
.commerce-para{
    margin-top: 7rem;
}


